<ion-header>
  <app-toolbar
    pageTitle="{{'Help' | translate}}"
    [pageConfig]="pageConfig"
    [selectedItems]="selectedItems"
    [query]="query"
    [page]="this">
    <ion-button (click)="autoCalculateLink()"  title="{{ 'Auto Calculate Link' | translate }}" class="ion-hide-sm-down" *ngIf="pageConfig.canEdit">
      <ion-icon
        slot="icon-only"
        name="aperture-outline"
      ></ion-icon>
    </ion-button>
  </app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="scrollx">
  <div #gantt_here class="gantt-chart"></div>
</ion-content>
