.full-screen {
	height: 100%;
}

.selected-task {
	width: 200px;
	min-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.item-status .icon-status {
	margin-right: 10px;
}
.hidden-all {
	text-align: end;
	padding-right: 16px;
}
