<ion-header>
  <app-toolbar [page]="this">
    <ng-select startTitle
      class="selected-task"
      (change)="selectTask();"
      appendTo="#ng-select-holder"
      [(ngModel)]="selectedTask"
      labelForId="Id"
      [items]="taskList"
      bindLabel="Name"
      bindValue="Id"
      placeholder="{{'Select unit' | translate}}"
    >
      <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
        <div *ngIf="i">
          <div>
            <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
            <span [ngOptionHighlight]="search">{{i.Name}}</span>
          </div>
        </div>
      </ng-template>
    </ng-select>
    <ion-button (click)="autoCalculateLink()"  title="{{ 'Auto Calculate Link' | translate }}" class="ion-hide-sm-down" *ngIf="segmentView == 'gantt'">
      <ion-icon
        slot="icon-only"
        name="aperture-outline"
      ></ion-icon>
    </ion-button>
  </app-toolbar>
</ion-header>


<ion-content appScrollbarTheme class="scrollx">
  <div class="row-full shadow full-screen">
    <ion-toolbar color="primary">
      <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
        <ng-container *ngFor="let v of listSegmentView">
          <ion-segment-button [value]="v.Code">
            <ion-label>{{ v.Name | translate }}</ion-label>
          </ion-segment-button>
        </ng-container>
      </ion-segment>
    </ion-toolbar>
    <div *ngIf="segmentView == 'board'">
      <app-board></app-board>
    </div>
    <div style="height: 100%" *ngIf="segmentView == 'gantt'">
      <app-gantt [items]="this.items" [linksData]="this.linksData" [listParent]="this.listParent" (loadDataGantt)="selectTask()"></app-gantt>
    </div>
  </div>
</ion-content>
