<ion-header>
  <ion-toolbar>
    <ion-title>{{item.Id !=0 ? item.Name: 'Add Status'| translate}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding" fullscreen>
  <form [formGroup]="formGroup">
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <app-form-control [field]="{id: 'Id', type: 'span-text', form: formGroup }"> </app-form-control>
          <app-form-control [field]="{id: 'Code', type: 'text', form: formGroup }"> </app-form-control>
          <app-form-control [field]="{id: 'Name', type: 'text', form: formGroup }"> </app-form-control>
          <app-form-control [field]="{id: 'Type', type: 'text', form: formGroup }"> </app-form-control>

          <!-- <app-form-control [field]="{id: 'Color', label: 'Color', type: 'color', form: formGroup }"></app-form-control>
          <div class="c-control">
            <label class="c-label" for="Sort">{{'Sort' | translate}}</label>
            <input class="c-input" id="Sort" formControlName="Sort" type="number" />
          </div>

          <app-form-control
            [field]="{id: 'Sort', label: 'Sort', type: 'number', form: formGroup }"
            (onInputChange)="saveChange()"
          >
          </app-form-control> -->
        </ion-col>

        <ion-col>
          <app-form-control
            [field]="{id: 'Icon', secondaryId: 'Color', label: 'Icon', type: 'icon-color', form: formGroup }"
          ></app-form-control>

          <app-form-control [field]="{id: 'Sort', type: 'number', form: formGroup }"></app-form-control>
          <app-form-control [field]="{id: 'Remark', type: 'textarea', form: formGroup }"></app-form-control>
          <div class="c-control ion-text-right">
            <ion-button (click)="saveStatus()">{{'Save' | translate}}</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
