.item-status {
    border: 1px solid rgb(210 207 207);
    border-radius: 10px;
    margin: 15px 8px;
}

.item-status-add {
    border: 2px dotted rgb(210 207 207);
    border-radius: 10px;
    margin: 15px 8px;

    .icon-status {
        margin-left: 30px;
    }

}

.item-view {
    border: 1px solid rgb(210 207 207);
    border-radius: 10px;
    margin: 8px;
    padding: 15px;
}


.name-status {
    margin: 5px;
}

.icon-status {
    margin-top: 2px;
}

.ion-item-toggle {
    border-width: 2px;
    border-color: rgb(75, 75, 190);
}

:root {
    --ion-color-orange: #eeb044;
    --ion-color-orange-rgb: 238, 176, 68;
    --ion-color-orange-contrast: #000000;
    --ion-color-orange-contrast-rgb: 0, 0, 0;
    --ion-color-orange-shade: #d19b3c;
    --ion-color-orange-tint: #f0b857;
}

.ion-color-orange {
    --ion-color-base: var(--ion-color-orange);
    --ion-color-base-rgb: var(--ion-color-orange-rgb);
    --ion-color-contrast: var(--ion-color-orange-contrast);
    --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
    --ion-color-shade: var(--ion-color-orange-shade);
    --ion-color-tint: var(--ion-color-orange-tint);
}

:root {
    --ion-color-brun: #a2762a;
    --ion-color-brun-rgb: 162, 118, 42;
    --ion-color-brun-contrast: #000000;
    --ion-color-brun-contrast-rgb: 0, 0, 0;
    --ion-color-brun-shade: #8f6825;
    --ion-color-brun-tint: #ab843f;
}

.ion-color-brun {
    --ion-color-base: var(--ion-color-brun);
    --ion-color-base-rgb: var(--ion-color-brun-rgb);
    --ion-color-contrast: var(--ion-color-brun-contrast);
    --ion-color-contrast-rgb: var(--ion-color-brun-contrast-rgb);
    --ion-color-shade: var(--ion-color-brun-shade);
    --ion-color-tint: var(--ion-color-brun-tint);
}

:root {
    --ion-color-gris: #b0aca6;
    --ion-color-gris-rgb: 176, 172, 166;
    --ion-color-gris-contrast: #000000;
    --ion-color-gris-contrast-rgb: 0, 0, 0;
    --ion-color-gris-shade: #9b9792;
    --ion-color-gris-tint: #b8b4af;
}

.ion-color-gris {
    --ion-color-base: var(--ion-color-gris);
    --ion-color-base-rgb: var(--ion-color-gris-rgb);
    --ion-color-contrast: var(--ion-color-gris-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gris-contrast-rgb);
    --ion-color-shade: var(--ion-color-gris-shade);
    --ion-color-tint: var(--ion-color-gris-tint);
}


:root {
    --ion-color-complete: #4fab8f;
    --ion-color-complete-rgb: 79, 171, 143;
    --ion-color-complete-contrast: #000000;
    --ion-color-complete-contrast-rgb: 0, 0, 0;
    --ion-color-complete-shade: #46967e;
    --ion-color-complete-tint: #61b39a;
}

.ion-color-complete {
    --ion-color-base: var(--ion-color-complete);
    --ion-color-base-rgb: var(--ion-color-complete-rgb);
    --ion-color-contrast: var(--ion-color-complete-contrast);
    --ion-color-contrast-rgb: var(--ion-color-complete-contrast-rgb);
    --ion-color-shade: var(--ion-color-complete-shade);
    --ion-color-tint: var(--ion-color-complete-tint);
}