<ion-content appScrollbarTheme class="scrollx" [ngClass]="{withFeature: page.pageConfig.isShowFeature}"
	forceOverscroll="false">
	<div class="safe-max-width">
		<app-data-table class="box-shadow responsive" [rows]="itemsState" [trackBy]="'Id'"
			[(selectedRows)]="page.selectedItems" [showSpinner]="page.showSpinner" [showFilter]="page.pageConfig.isShowSearch"
			[(query)]="query" (dataInfinite)="loadMoreData($event)" (filter)="onDatatableFilter($event)"
			(sort)="onSort($event)" (selectedRowsChange)="showCommandBySelectedRows($event)">
			<datatable-column [checkbox]="true" name=""></datatable-column>

			<datatable-column class="col-name" name="Name" property="Type" [filterDataSource]="typeList">
				<ng-template datatable-header-template>
					<ion-icon class="min-btn" [name]="!isAllRowOpened? 'add-circle-outline':'remove-circle-outline'"
						(click)="toggleRowAll()"></ion-icon>
					<span (click)="toggleRowAll()">{{'Name' | translate}}</span>
				</ng-template>
				<ng-template let-i="row" datatable-cell-template>
					<ng-container *ngFor="let w of i.levels; let k = index;"><span class="spacing"
							*ngIf="k>0"></span></ng-container>
					<ion-icon (click)="toggleRow(itemsState, i, true);" class="min-btn clickable"
						[name]="!i.showdetail? 'chevron-forward-outline':'chevron-down-outline'"
						*ngIf="i.HasChild"></ion-icon>
					<ion-icon [name]="i.TypeIcon || 'flash'"></ion-icon> &nbsp;
					<ion-text (click)="toggleRow(itemsState, i, true);" class="clickable"
						[ngClass]="i.HasChild? ('bold ') : ('')" [color]="i.Color">{{i.Name | translate}}</ion-text>

				</ng-template>
			</datatable-column>
			<datatable-column class="col-name" name="Owner" property="_Staff">
				<ng-template let-i="row" datatable-cell-template>
					<ng-container *ngFor="let w of i.levels; let k = index;"><span class="spacing-name"
							*ngIf="k>0"></span></ng-container>
					<span class="bold">{{i._Staff?.FullName}}</span>
					<small *ngIf="i._Staff?.Code" class="no-warp"> {{i._Staff?.Code}}</small>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-date" format="dd/MM/yy HH:mm" name="Start date"
				property="StartDate" filterControlType="date"></datatable-column>
			<datatable-column class="col-date" format="dd/MM/yy HH:mm" name="End date" property="EndDate"
				filterControlType="date"></datatable-column>
			<datatable-column class="col-number bold" format="1.2-2" name="Duration"
				property="Duration"></datatable-column>

			<datatable-column class="col-status" name="Status" property="Status" filterControlType="ng-select-status"
				[filterDataSource]="statusList">
				<ng-template let-i="row" datatable-cell-template>
					<ion-badge [color]="i.StatusColor" [title]="i.StatusText"> {{i.StatusText | translate}} </ion-badge>
				</ng-template>
			</datatable-column>



		</app-data-table>
	</div>

	<div class="ion-padding"></div>
	<ion-infinite-scroll color="primary" threshold="30%" (ionInfinite)="loadMoreData($event)"
		[disabled]="!page.pageConfig.infiniteScroll || page.pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>