::ng-deep {

    app-data-table .col-date {
        max-width: 200px;
    }

    .spacing-name {
        display: none;
    }
}

@media screen and (max-width: 1164px) {
    ::ng-deep {
        datatable-body-cell.cell.col-name {
            min-width: calc(100% + 100px) !important;
        }

        .spacing-name {
            display: inline-block;
            padding-left: 16px;

        }
    }
}