<ion-header>
  <app-toolbar pageTitle="{{'Help' | translate}}" [pageConfig]="pageConfig" [selectedItems]="selectedItems"
    [query]="query" [page]="this">
    <ion-buttons slot="end" [ngClass]="{'ion-hide-md-down' : !pageConfig.isSubActive}">
      <ion-button (click)="toggleGroup4Column()" title="{{'List 4 column' | translate}}">
        <ion-icon slot="icon-only" name="star-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleReorder()" title="{{'Sort' | translate}}">
        <ion-icon slot="icon-only" name="filter-circle-outline"></ion-icon>
      </ion-button>
      <ion-button title="{{'Feature' | translate}}" (click)="pageConfig.isShowFeature = !pageConfig.isShowFeature;">
        <ion-icon slot="icon-only" [name]="pageConfig.isShowFeature? 'close-outline':'list-circle-outline'"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- popover -->
    <ion-list lines="none" rightScreenPop>
      <ion-item title="{{ 'List 4 column' | translate }}" (click)="toggleGroup4Column()">
        <ion-icon color="primary" slot="start" name="star-outline"></ion-icon>
        <ion-label> {{ 'List 4 column' | translate }}</ion-label>
      </ion-item>
      <ion-item title="{{ 'Sort' | translate }}" (click)="toggleReorder()">
        <ion-icon color="primary" slot="start" name="filter-circle-outline"></ion-icon>
        <ion-label> {{ 'Sort' | translate }}</ion-label>
      </ion-item>
      <ion-item title="{{ 'Feature' | translate }}" (click)="pageConfig.isShowFeature = !pageConfig.isShowFeature;">
        <ion-icon color="primary" slot="start"
          [name]="pageConfig.isShowFeature? 'close-outline':'list-circle-outline'"></ion-icon>
        <ion-label> {{ 'Feature' | translate }}</ion-label>
      </ion-item>
    </ion-list>
  </app-toolbar>
</ion-header>
<ion-content appScrollbarTheme appPrintFix class="A4 left" [ngClass]="{withFeature: pageConfig.isShowFeature}">
  <ion-fab *ngIf="pageConfig.isShowFeature"
    [ngClass]="{withSearch: pageConfig.isShowSearch, 'ion-hide-md-down' : pageConfig.isSubActive}"
    class="feature no-print" vertical="top" horizontal="start" slot="fixed">
    <ion-list>
      <ion-list-header lines="full">
        <ion-label color="dark">{{'Project' | translate}}</ion-label>
      </ion-list-header>
    </ion-list>
    <ion-list>
      <div class="table">
        <div *ngFor="let i of itemsView; let j = index;" class="row" [ngClass]="{selected: i.checked}">
          <div [ngClass]="i.HasChild? ('bold ') : ('')" class="col-name cell">
            <ng-container *ngFor="let w of i.levels; let k = index;"><span class="spacing"
                *ngIf="k>0"></span></ng-container>
            <ion-icon (click)="toggleRow(itemsState, i, true);" class="min-btn clickable"
              [name]="!i.showdetail? 'chevron-forward-outline':'chevron-down-outline'" *ngIf="i.HasChild"></ion-icon>
            <ion-icon class="min-btn clickable" [name]="''" *ngIf="!i.HasChild"></ion-icon>
            <ion-icon class="min-btn" [name]="i.Icon"></ion-icon>
            <ion-text class="clickable" [color]="i.Color" (click)="loadTaskTodo(i)">{{i.Name}}</ion-text>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-fab>

  <div style="overflow: auto">
    <section class="sheet rpt" *ngIf="list4Column.length > 0">
      <ion-grid>
        <div class="coordinate-system" *ngIf="!isCollapsed">
          <div class="child">
            <div class="axis-y">
              <div class="arrow-top"></div>
            </div>
          </div>
        </div>

        <ion-row style="position: relative;">
          <div class="coordinate-system" *ngIf="!isCollapsed">
            <div class="child">
              <div class="axis-x">
                <div class="arrow-left"></div>
              </div>
            </div>
          </div>
          <ion-col size="6" size-sm="6" size-md="6" size-xl="6" *ngIf="!isCollapsed">
            <ion-card class="box">
              <ion-card-header>
                <ion-card-title color="danger">
                  <h4>{{'High priority - Urgent' | translate}}</h4>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div class="table-contain">
                  <section class="table">
                    <ion-reorder-group [disabled]="isDisabled"
                      (ionItemReorder)="doReorder($event, formGroup.get('ListPriorityHigh')['controls'])">
                      <ng-container *ngFor="let g of  formGroup.controls.ListPriorityHigh.controls; let idx = index;">
                        <ng-container [formGroup]="g">
                          <div class="row">
                            <div class="col-id cell">
                              {{idx+1}}
                            </div>
                            <div class="col-name cell" (click)="showActionModal(g)">
                              <ion-text class="text">
                                {{g.get('Name').value}}
                              </ion-text>
                              <ion-text class="text" *ngIf="g.get('Remark').value">
                                <small>{{g.get('Remark').value}}</small>
                              </ion-text>
                            </div>
                            <div class="col-reorder cell">
                              <ion-reorder slot="end"></ion-reorder>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ion-reorder-group>
                  </section>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="6" size-md="6" size-xl="6" *ngIf="!isCollapsed">
            <ion-card class="box">
              <ion-card-header>
                <ion-card-title color="warning">
                  <h4>{{'Medium priority - Not Urgent' | translate}}</h4>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div class="table-contain">
                  <section class="table">
                    <ion-reorder-group [disabled]="isDisabled"
                      (ionItemReorder)="doReorder($event, formGroup.get('ListPriorityMedium')['controls'])">
                      <ng-container *ngFor="let g of formGroup.controls.ListPriorityMedium.controls; let idx = index;">
                        <ng-container [formGroup]="g">
                          <div class="row">
                            <div class="col-id cell">
                              {{idx+1}}
                            </div>
                            <div class="col-name cell" (click)="showActionModal(g)">
                              <ion-text class="text">
                                {{g.get('Name').value}}
                              </ion-text>
                              <ion-text class="text" *ngIf="g.get('Remark').value">
                                <small>{{g.get('Remark').value}}</small>
                              </ion-text>
                            </div>
                            <div class="col-reorder cell">
                              <ion-reorder slot="end"></ion-reorder>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ion-reorder-group>
                  </section>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!isCollapsed">
          <ion-col size="6" size-sm="6" size-md="6" size-xl="6">
            <ion-card class="box">
              <ion-card-header>
                <ion-card-title color="success">
                  <h4>{{'Low priority - Urgent' | translate}}</h4>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div class="table-contain">
                  <section class="table">
                    <ion-reorder-group [disabled]="isDisabled"
                      (ionItemReorder)="doReorder($event, formGroup.get('ListPriorityLow')['controls'])">
                      <ng-container *ngFor="let g of formGroup.controls.ListPriorityLow.controls; let idx = index;">
                        <ng-container [formGroup]="g">
                          <div class="row">
                            <div class="col-id cell">
                              {{idx+1}}
                            </div>
                            <div class="col-name cell" (click)="showActionModal(g)">
                              <ion-text class="text">
                                {{g.get('Name').value}}
                              </ion-text>
                              <ion-text class="text" *ngIf="g.get('Remark').value">
                                <small>{{g.get('Remark').value}}</small>
                              </ion-text>
                            </div>
                            <div class="col-reorder cell">
                              <ion-reorder slot="end"></ion-reorder>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ion-reorder-group>
                  </section>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="6" size-md="6" size-xl="6">
            <ion-card class="box">
              <ion-card-header>
                <ion-card-title color="medium">
                  <h4>{{'Not priority - Not Urgent' | translate}}</h4>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div class="table-contain">
                  <section class="table">
                    <ion-reorder-group [disabled]="isDisabled"
                      (ionItemReorder)="doReorder($event, formGroup.get('ListPriorityNot')['controls'])">
                      <ng-container *ngFor="let g of formGroup.controls.ListPriorityNot.controls; let idx = index;">
                        <ng-container [formGroup]="g">
                          <div class="row">
                            <div class="col-id cell">
                              {{idx+1}}
                            </div>
                            <div class="col-name cell" (click)="showActionModal(g)">
                              <ion-text class="text">
                                {{g.get('Name').value}}
                              </ion-text>
                              <ion-text class="text" *ngIf="g.get('Remark').value">
                                <small>{{g.get('Remark').value}}</small>
                              </ion-text>
                            </div>
                            <div class="col-reorder cell">
                              <ion-reorder slot="end"></ion-reorder>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ion-reorder-group>
                  </section>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isCollapsed">
          <ion-col size="12" size-sm="12" size-md="12" size-xl="12">
            <ion-card class="box">
              <ion-card-header>
                <ion-card-title color="danger">
                  <h4>{{'High priority - Urgent' | translate}}</h4>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div class="table-contain">
                  <section class="table">
                    <ion-reorder-group [disabled]="isDisabled"
                      (ionItemReorder)="doReorder($event, formGroup.get('ListPriorityHigh')['controls'])">
                      <ng-container *ngFor="let g of formGroup.controls.ListPriorityHigh.controls; let idx = index;">
                        <ng-container [formGroup]="g">
                          <div class="row">
                            <div class="col-id cell">
                              {{idx+1}}
                            </div>
                            <div class="col-name cell" (click)="showActionModal(g)">
                              <ion-text class="text">
                                {{g.get('Name').value}}
                              </ion-text>
                              <ion-text class="text" *ngIf="g.get('Remark').value">
                                <small>{{g.get('Remark').value}}</small>
                              </ion-text>
                            </div>
                            <div class="col-reorder cell">
                              <ion-reorder slot="end"></ion-reorder>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ion-reorder-group>
                  </section>
                </div>
              </ion-card-content>
            </ion-card>
            <ion-card class="box">
              <ion-card-header>
                <ion-card-title color="warning">
                  <h4>{{'Medium priority - Not Urgent' | translate}}</h4>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div class="table-contain">
                  <section class="table">
                    <ion-reorder-group [disabled]="isDisabled"
                      (ionItemReorder)="doReorder($event, formGroup.get('ListPriorityMedium')['controls'])">
                      <ng-container *ngFor="let g of formGroup.controls.ListPriorityMedium.controls; let idx = index;">
                        <ng-container [formGroup]="g">
                          <div class="row">
                            <div class="col-id cell">
                              {{idx+1}}
                            </div>
                            <div class="col-name cell" (click)="showActionModal(g)">
                              <ion-text class="text">
                                {{g.get('Name').value}}
                              </ion-text>
                              <ion-text class="text" *ngIf="g.get('Remark').value">
                                <small>{{g.get('Remark').value}}</small>
                              </ion-text>
                            </div>
                            <div class="col-reorder cell">
                              <ion-reorder slot="end"></ion-reorder>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ion-reorder-group>
                  </section>
                </div>
              </ion-card-content>
            </ion-card>
            <ion-card class="box">
              <ion-card-header>
                <ion-card-title color="success">
                  <h4>{{'Low priority - Urgent' | translate}}</h4>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div class="table-contain">
                  <section class="table">
                    <ion-reorder-group [disabled]="isDisabled"
                      (ionItemReorder)="doReorder($event, formGroup.get('ListPriorityLow')['controls'])">
                      <ng-container *ngFor="let g of formGroup.controls.ListPriorityLow.controls; let idx = index;">
                        <ng-container [formGroup]="g">
                          <div class="row">
                            <div class="col-id cell">
                              {{idx+1}}
                            </div>
                            <div class="col-name cell" (click)="showActionModal(g)">
                              <ion-text class="text">
                                {{g.get('Name').value}}
                              </ion-text>
                              <ion-text class="text" *ngIf="g.get('Remark').value">
                                <small>{{g.get('Remark').value}}</small>
                              </ion-text>
                            </div>
                            <div class="col-reorder cell">
                              <ion-reorder slot="end"></ion-reorder>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ion-reorder-group>
                  </section>
                </div>
              </ion-card-content>
            </ion-card>
            <ion-card class="box">
              <ion-card-header>
                <ion-card-title color="medium">
                  <h4>{{'Not priority - Not Urgent' | translate}}</h4>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div class="table-contain">
                  <section class="table">
                    <ion-reorder-group [disabled]="isDisabled"
                      (ionItemReorder)="doReorder($event, formGroup.get('ListPriorityNot')['controls'])">
                      <ng-container *ngFor="let g of formGroup.controls.ListPriorityNot.controls; let idx = index;">
                        <ng-container [formGroup]="g">
                          <div class="row">
                            <div class="col-id cell">
                              {{idx+1}}
                            </div>
                            <div class="col-name cell" (click)="showActionModal(g)">
                              <ion-text class="text">
                                {{g.get('Name').value}}
                              </ion-text>
                              <ion-text class="text" *ngIf="g.get('Remark').value">
                                <small>{{g.get('Remark').value}}</small>
                              </ion-text>
                            </div>
                            <div class="col-reorder cell">
                              <ion-reorder slot="end"></ion-reorder>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ion-reorder-group>
                  </section>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </div>
  <app-page-message [itemsLength]="list4Column.length > 0 ? 1: 0 " [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>