.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow:
		0 5px 5px -3px rgba(0, 0, 0, 0.2),
		0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.link-container {
	display: flex;
	gap: 10px;
}

.link-container a {
	text-decoration: none;
}

.grid-container {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: auto;
	gap: 10px;
}

.priority-header,
.status-header,
.empty-header {
	padding: 10px;
	background-color: #f0f0f0;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	text-align: center;
}

.priority-row,
.status-header-row {
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	gap: 10px;
}

.task-container {
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	background-color: #fff;
}

.task-list {
	min-height: 62px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.task-box {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 5px;
	cursor: grab;
	transition: background-color 0.3s ease;
}

.task-box:hover {
	background-color: #e9e9e9;
}

.task-box.cdk-drag-placeholder {
	opacity: 0;
}

.task-box.cdk-drag-preview {
	opacity: 0.5;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	margin: 0 0 10px;
}

.w300 {
	--width: auto !important;
	--max-width: auto !important;
}

.c-group {
	display: flex;
	align-items: center;
}

.c-control {
	min-width: 250px;
	flex: 1;
	margin-right: 10px;
}

.c-control.group-by {
	min-width: 150px;
}

.c-control .c-input.ng-select {
	min-height: 40px;
}

.min-btn {
	cursor: pointer;
}
.icon-status {
	margin: 0 3px;
}

.wx-footer {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.wx-card-icons {
	flex: 1 1 auto;
}

.wx-footer.svelte-vhwr63.stack-fields {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.wx-footer.svelte-vhwr63.no-stack-fields {
	display: flex;
	flex-direction: row;
	gap: 12px;
}

.wx-content.svelte-kqkezg {
	border-radius: 6px;
}

.wx-icon.wxi-dots-h {
	display: none !important;
}

.wx-footer.stack-fields .wx-date-value {
	display: block;
	white-space: normal;
	overflow-wrap: break-word;
	word-break: break-word;
	max-width: 100%;
}


.wx-footer.no-stack-fields .wx-date-value {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}